.App {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  height: auto;
  font-family: 'Rubik', sans-serif;
  color: #78909c;
  background: linear-gradient(
    135deg,
    rgba(179, 229, 252, 1) 0%,
    rgba(179, 229, 252, 1) 50%,
    rgba(240, 98, 146, 1) 50%,
    rgba(240, 98, 146, 1) 100%
  );
}

@media only screen and (min-width: 950px) {
  .App {
    align-items: center;
    padding-top: 0;
    height: 100vh;
  }
}
